<!DOCTYPE html>
<html>
<head>
	<title>Discover Weekly Archive</title>
  <link href="/landing.css" rel="stylesheet">
</head>
<body>
  <div class="container main">
    <div class="header">Want to Save this Week's Music?
      <img></img>
    </div>
    <div class="optionBtns">
        <button id="archiveAllBtn" class="button" type="button">ARCHIVE THIS WEEK</button>
        <button id="pickyBtn" class="button" type="button">LET ME BE PICKY</button> 
    </div>
  	<div class="messageBox">
     <p class="loading vanish">LOADING TRACKS INTO DISCOVER WEEKLY ARCHIVE...</p>
     <p class="complete vanish">DISCOVER WEEKLY TRACKS LOADED SUCCESFULLY!</p>
    </div>
  </div>
  <div class="container picky">
    <table></table> 
  </div>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/frontEnd.js"></script>
  <script src="/songsGrid.js"></script>
</body>
</html>